---
layout: default
---
<div class="row home-hi">
    <div class="col-md-6 home-hi-left">
		<p class="home-hi-greeting" >{{ page.greeting.title }} {% if page.greeting.appendName %}<span>{{ site.first_name }}</span>{% endif %}</p>
		{% if page.greeting.subtitle %}<p class="home-hi-subtitle">{{ page.greeting.subtitle }}</p>{% endif %}
    </div>
	<div class="col-md-6">
      	{% include figure.liquid 
        	loading="eager"
        	path="assets/img/prof_pic.jpg"
        	class="img-fluid z-depth-1 rounded-circle"
        	alt="Profile picture"
			max-width="250px"
            cache_bust=true
        %}
        <div class="more-info" style="text-align: center">
        	<p><span>{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}</span></p>
        	{% if site.jobtitle %}<p class="medium-bold">{{ site.jobtitle }}</p>{% endif %}
        	{% if site.email %}<p class="medium-bold">{{ site.email }}</p>{% endif %}
      	</div>
    </div>
</div>

{{ content }}

<!-- Social -->
{% if page.social %}
	<div class="social">
		<div class="contact-icons">{% include social.liquid %}</div>
		<div class="contact-note">{{ site.contact_note }}</div>
	</div>
{% endif %}